body {
        background-color: #F3EBF6;
        font-family: 'Ubuntu', sans-serif;
}
.submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #9C27B0, #E040FB);
        border: 0;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 10px;
        padding-top: 8px;
        font-family: 'Ubuntu', sans-serif;
        
        font-size : 25px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.main {
        background-color: #FFFFFF;
        width: 500px;
        height: 1000px;
        margin : 6em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.main2 {
        background-color: #FFFFFF;
        width: 1200px;
        height: 700px;
        margin: 1.5em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.te {
      padding-bottom: 11px;
      padding-top: 11px;
      padding-left: 10px;
      padding-right: 10px;
}
.un {
    width: 75%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    background: rgba(120, 120, 120, 0.1);
    padding: 10px 20px; 
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}
.container {
  display: block;
  position: relative;
  padding-left: 1px;
  margin-bottom: 1px;
  margin-left :30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


.container:hover input ~ .checkmark {
  background-color: #ccc;
}


.container input:checked ~ .checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.donate {
        padding-top: 36px;
        color: #8C55AA;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 30px;
}